.wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}

.wrapper h1 {
    font-size: 3em;
    margin: 25px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.sector {
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sector:hover {
    transform: scale(0.9);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.sector i {
    margin: 20px;
    color: #581ed6;
}

.sector h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.sector p {
    color: #6c757d;
    text-align: center;
}

.sector:hover i,
.sector:hover p {
    color: #fff;
}

.sector:hover h2 {
    font-weight: 600;
}

.sector:nth-child(1):hover {
    background: linear-gradient(45deg,
            rgba(250, 0, 25, 0.859) 0%,
            #e83e8c 100%), 
        url('bg.jpg');
    background-size: cover;
}

.sector:nth-child(2):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%), 
        url('bg2.jpg');
    background-size: cover;
}

.sector:nth-child(3):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%), 
        url('bg3.jpg');
    background-size: cover;
}

.sector:nth-child(4):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%),
        url('bg4.jpg');
    background-size: cover;
}

.sector:nth-child(5):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%),
        url('bg5.jpg');
    background-size: cover;
}

.sector:nth-child(6):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%),
        url('bg2.jpg');
    background-size: cover;
}
.sector:nth-child(7):hover {
    background: linear-gradient(45deg,
    rgba(250, 0, 25, 0.859) 0%,
    #e83e8c 100%),
        url('bg2.jpg');
    background-size: cover;
}
@media (max-width: 991px) {
    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box {
        flex-direction: column;
        width: 100%;
    }

    .sector {
        min-width: 300px;
        margin: 10px auto;
    }
}
.bx-chip {
    font-size: 3em; /* Adjust the size as needed */
}
.bxl-html5{
    font-size: 3em; /* Adjust the size as needed */
}
.bxl-dev-to {
    font-size: 3em; /* Adjust the size as needed */
}
.bx-bar-chart-alt {
    font-size: 3em; /* Adjust the size as needed */
}
.bx-microchip {
    font-size: 3em; /* Adjust the size as needed */
}
.bxl-graphql{
    font-size: 3em; /* Adjust the size as needed */
}
.bxs-plane-alt {
    font-size: 3em; /* Adjust the size as needed */
}
.bx-server {
    font-size: 3em; /* Adjust the size as needed */
}
.bx-code-block{
    font-size: 3em; /* Adjust the size as needed */ 
}